footer#mainNav(layout="row", layout-align="center center")
    md-button(ng-click="goTo('yourVote')") {{ 'navYourVote' | translate }}
    md-button(ng-click="goTo('methodology')") {{ 'navMethodology' | translate }}
    md-button(ng-click="goTo('whoAreWe')") {{ 'navWhoAreWe' | translate }}