footer
    div(layout="row", layout-align="center center")
        md-button(ng-click="goTo('yourVote')")
            span {{ 'navYourVote' | translate }}
        md-button(ng-click="goTo('methodology')")
            span {{ 'navMethodology' | translate }}
        md-button(ng-click="goTo('whoAreWe')")
            span {{ 'navWhoAreWe' | translate }}