md-sidenav.md-sidenav-right.md-whiteframe-z2.animateShow(md-component-id="right", layout="column")
   div#sideNav(ng-controller="NavCtrl", layout="column", layout-align="space-between center", flex="")
      div.md-toolbar-tools#sideNavToolbar(layout="row", layout-align="end start")
         md-button.md-icon-button#sideNavCloseButton(ng-click="close()")
            i.mdi.mdi-close#sideNavCloseIcon
      div.fullWidth.whiteText.noMarginContent(layout="column", layout-align="start center")

         md-button(ng-click="goTo('welcome')")
            span {{ 'navYourVote' | translate }}
         md-button(ng-click="goTo('methodology')")
            span {{ 'navMethodology' | translate }}
         md-button(ng-click="goTo('whoAreWe')")
            span {{ 'navWhoAreWe' | translate }}

      div.fullWidth.whiteText(layout="row", layout-align="center start")
         a(ng-click="setLanguage('ca')") català
         span.text &nbsp;|&nbsp;
         a(ng-click="setLanguage('es')") castellano
