md-sidenav.md-sidenav-right.md-whiteframe-z2.animateShow(md-component-id="right")
   div(ng-controller="NavCtrl")
      div.md-toolbar-tools#sideNavToolbar(layout="row", layout-align="end center")
         md-button.md-icon-button#sideNavCloseButton(ng-click="close()")
            i.mdi.mdi-close#sideNavCloseIcon
      md-content(layout-padding="")
