.adm-toolbar
    p.text-bold.text-uppercase Descàrrega de dades
    i.mdi.mdi-logout.logout(ng-click="logout()")

.content
    button.downloadButton(ng-click="downloadData()") Baixa les dades
    .spinner(ng-if="downloading")
    p.errorText(ng-if="error" ng-class="{ errorBold: errorBold }") S'ha produit un error en la baixada dels resultats
    p.infoText(ng-show="downloading") {{ infoText }}
