@import "client/stylesheets/utilities/variables"

$socialButtonsSize: 20px

$welcomeLogoWidth: 200px

$reducedSizeWelcomeLogoWidth: 125px

$footerHeight: 50px

$menuButtonSize: 30px

$sidenavWidth: 250px

$contentBottomMargin: 5%
$contentTopMargin: 3%
$contentLeftRightMargin: 3%

$headerLeftRightMargin: $contentLeftRightMargin
$headerTopMargin: $contentLeftRightMargin
$headerBottomMargin: 1%

#socialButtons i
    font-size: $socialButtonsSize

#socialButtons button
    margin-top: -10px
    width: 25px

#socialButtons button:first-child
    margin-right: 0px
    margin-left: -5px

#mainHeaderLogo
    width: $welcomeLogoWidth
    height: 2/3 * $welcomeLogoWidth

footer
    background-color: $blue

    button
        height: 100%
        margin-top: 0 !important
        margin-bottom: 0 !important

.reducedLogoSize
    width: $reducedSizeWelcomeLogoWidth !important
    height: 2/3 * $reducedSizeWelcomeLogoWidth !important

#menuButton i
    font-size: $menuButtonSize

#menuButton
    margin-right: 0
    width: 40px
    z-index: 50

header
    padding: 40px 40px 10px 40px
    background-color: white
    z-index: 30


//main
    margin: $contentTopMargin $contentLeftRightMargin $contentBottomMargin $contentLeftRightMargin

main.paddingNonCompact
    padding-top: 137px + 40px + 10px


main.paddingCompact
    padding-top: 87px + 40px + 10px

#sideNavCloseIcon
    color: white
    font-size: 40px

#sideNavCloseButton
    margin-right: 10px
    margin-top: -25px

#sideNavToolbar
    height: 100px

md-sidenav, md-sidenav md-toolbar, md-sidenav md-content
    background-color: $blue !important

md-sidenav
    max-width: $sidenavWidth
    min-width: $sidenavWidth !important
    width: $sidenavWidth !important

md-sidenav, md-backdrop
    position: fixed

#sideNav
    padding-top: 30px
    padding-bottom: 30px

main.isNonCompact
    min-height: calc(100vh - 223px)

main.isCompact
    min-height: calc(100vh - 173px)

header.headerFixed
    position: fixed
    top: 0
    width: calc(100% - 80px)

main.headerFixed
    min-height: 0 !important
    padding-top: 173px !important