@import "client/stylesheets/utilities/variables"
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic)

body
    p, i, h1, h2, h3, h4, h5, h6, a
        color: $blue

    p, h1, h2, h3, h4, h5, h6, a, button
        font-family: 'Roboto', sans-serif

    a
        text-decoration: none
        border: none
        outline: none

    [ng-click],
    [data-ng-click],
    [x-ng-click]
        cursor: pointer
        border: none
        outline: none

    button, button a
        color: white !important

.fullWidth
    width: 100%

.fullHeight
    height: 100%




