// Variables

@blue: #136791;
@orange: #c7925b;

// Mixins

.img-size(@size) {
    width: @size;
    height: auto;
}

// Utils

.fullHeight {
    height: 100%;
}

.center-child {
    text-align: center;
}

.inline {
    display: inline-block;
}

// Styling

body {

    button {
        border: none !important;
        outline: none !important;
    }

    button.selected, button.selected:hover, button.selected:active {
        background-color: @orange !important;
    }

    button, button:active, button:hover {
        background-color: @blue !important;
    }

    button.active, button:hover {
        font-weight: bold;
    }
}