// Variables

@blue: #136791;
@orange: #c7925b;

// Mixins

.img-size(@size) {
    width: @size;
    height: auto;
}

button.selected {
    background-color: @orange;
}

button.active, button:hover {
    font-weight: bold;
}

.center {
    margin: 0 auto;
}