@import "client/stylesheets/utilities/variables"

$welcomeIntroTextSize: 30px
$topPadding: 0
$horizontalPadding: 20%

$welcomeButtonWidth: 230px
$welcomeButtonTextSize: 25px

#welcomeIntroText
    font-size: $welcomeIntroTextSize
    text-align: center

#welcomeStartButton
    min-width: $welcomeButtonWidth
    min-height: 0.260869565 * $welcomeButtonWidth
    background-color: $blue
    font-size: $welcomeButtonTextSize

#welcomeContent
    padding-top: $topPadding
    padding-left: $horizontalPadding
    padding-right: $horizontalPadding