#elTeuVotContainer {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    text-align: center;

    max-width: 100%;
    width: 100%;
    min-width: @min-page-width;

    #startButton {
        margin-top: 20px;
    }
}


@media (max-width: @screen-xs-max) {
    #elTeuVotContainer {
        padding-left: 30px;
        padding-right: 30px;

        height: 200px;

        #welcomeText {
            font-size: 20px;
        }

        #startButton {
            line-height: 45px;
            font-size: 20px;
            width: 180px;
            height: 45px;
        }
    }
}

@media (max-height: 550px) {
    #elTeuVotContainer {
        height: 200px !important;

        #welcomeText {
            font-size: 20px !important;
        }

        #startButton {
            line-height: 45px !important;
            font-size: 20px !important;
            width: 180px !important;
            height: 45px !important;
        }
    }
}

@media (max-height: 550px) and (min-width: 500px) {
    #elTeuVotContainer {
        height: 100px !important;
    }
}

@media (min-width: @screen-xs-max) {
    #elTeuVotContainer {
        height: 180px;

        #welcomeText {
            font-size: 30px;
        }

        #startButton {
            line-height: 55px;
            font-size: 25px;
            width: 220px;
            height: 55px;
        }
    }
}
