#elTeuVotContainer(etv-offset-on-element="header")
    p#welcomeText(translate="welcomeText")

    //p#soonText.text-uppercase(translate="{{ 'soonText' }}")
    button#startButton(ui-sref="politicalQuestions")
        span.text-uppercase(translate="welcomeStart")