etv-header

main(flex="" layout="row" ui-view="" ng-class="{ 'isCompact': isLogoCompact, 'isNonCompact': !isLogoCompact, 'headerFixed': isHeaderFixed }")

etv-footer(ng-if="!isCompact")

etv-nav(ng-if="isCompact")