.device-xs.visible-xs
.device-sm.visible-sm
.device-md.visible-md
.device-lg.visible-lg

etv-header(etv-fixed-vertically-but-not-horizontally=".fixedHeader")

#main(ui-view="" autoscroll="true" ng-class="{ 'fixedHeader': isFixedHeader() }")

etv-footer(ng-if="!hasSidenav()")

etv-side-nav(ng-if="hasSidenav()")