etv-header

#main(ui-view="" ng-class="{ 'fixedHeader': !$state.includes('elTeuVot') }")

etv-footer(ng-if="!$state.includes('questions') && !$state.includes('results')")

etv-side-nav(ng-if="$state.includes('questions') || $state.includes('results')")