#personalQuestionsContainer.container()
   span(ng-if="shouldShowPersonalQuestionsError()")
      etv-centered-text(text="personalQuestionsError")

   span(ng-if="shouldShowLoading()")
      etv-centered-text(text="personalQuestionsLoading")

   span(ng-if="shouldShowPersonalQuestions()")
      .divider

      p.center-block#personalQuestionsInfo(translate="personalQuestionsInfo")

      .divider

      .personalMandatoryQuestionsContainer
         etv-personal-question(ng-repeat="question in questions | filter:{ 'mandatory': true }")

      .divider

      p#personalQuestionsOptionalIntro(translate="personalQuestionsOptionalIntro")

      etv-personal-question(ng-repeat="question in questions | filter:{ 'mandatory': false }")

      #endOfQuestionaire.text-center
         p(translate="{{ endQuestionaireText }}")

         button(ng-click="goToResults()")
            span.text-uppercase(translate="{{ 'seeResults' }}")