#politicalQuestionsContainer(center-questions-vertically="" highlight-current-question="" etv-scroll-to-top-on-load="")

    etv-question-navigation

    #politicalQuestionsListContainer
        etv-political-question(ng-repeat="question in questions")

    #endTestButtonContainer.text-center
        button#endTestButton(ng-click="goToPersonalQuestions()")
            span.text-uppercase(translate="{{ 'endTest' }}")

    etv-alert(text="{{ 'politicalQuestionsAlert' | translate }}")