#politicalQuestionsContainer
    span(ng-if="shouldShowLoading()")
        etv-centered-text(text="politicalQuestionsLoading")

    span(ng-if="shouldShowError()")
        etv-centered-text(text="politicalQuestionsError")

    span(ng-if="shouldShowQuestions()")
        etv-question-navigation()

        #politicalQuestionsListContainer(etv-center-questions-vertically="" etv-highlight-current-question="")
            etv-political-question(ng-repeat="question in questions")

        #endTestButtonContainer.text-center
            button#endTestButton(ng-click="goToPersonalQuestions()")
                span.text-uppercase(translate="endTest")