#politicalQuestionsContainer(center-questions-vertically="")

    etv-question-navigation

    #politicalQuestionsListContainer
        .globalPoliticalQuestionContainer(ng-repeat="question in politicalQuestions" index="{{$index}}")
            .divider

            .politicalQuestionContainer
                .numberContainer
                    p {{ $index + 1 }}:

                .typeContainer.text-center.text-uppercase
                    p {{ question.type }}

                .textContainer.text-center
                    p {{ question.text }}

                span(ng-switch="question.answerType")
                    .row.center-text(ng-switch-when="1")
                        .col-lg-2-4.col-md-4.col-xs-6.col-xxs-12
                            button.answerButton
                                span Completament en desacord
                        .col-lg-2-4.col-md-4.col-xs-6.col-xxs-12
                            button.answerButton
                                span En desacord
                        .col-lg-2-4.col-md-4.col-xs-6.col-xxs-12
                            button.answerButton
                                span Ni d'acord ni en desacord
                        .col-lg-2-4.col-md-4.col-xs-6.col-xxs-12
                            button.answerButton
                                span D'acord
                        .col-lg-2-4.col-md-4.col-xs-6.col-xxs-12
                            button.answerButton
                                span Completament d'acord
                        .col-lg-12.col-md-4.col-xs-6.col-xxs-12.doesntKnowDoesntAnswerButton
                            button.answerButton
                                span No sap / No contesta

                    .sliderContainer(ng-switch-when="2")
                        etv-slider(left-text="extrema esquerra" right-text="extrema dreta" value-holder="sliderValue")

            .divider(ng-if="$last")

    #endTestButtonContainer.text-center
        button#endTestButton(ui-sref="personalQuestions")
            span.text-uppercase(translate="{{ 'endTest' }}")