//
    Created by albert on 21/07/15.
nav#questionNavigation(layout="column", layout-align="center start")
   div.questionNavItemContainer(ng-repeat="point in points", layout="row")
      div.questionNavigationTextContainer(layout="row", layout-align="center center", flex)
         span.questionNavigationText {{ point }}
      div.questionNavigationCircleContainer(layout="row", layout-align="start center", flex)
         | &nbsp;
         i.mdi.mdi-checkbox-blank-circle.questionNavigationCircle


#questionsContainer(layout="column", flex="")
    .questionDivider

    .questionContainer(layout="column")
        div(layout="row")
            span.questionNumber 1:
            .questionTypeContainer(flex="" layout="row", layout-align="center start")
                span.questionType ECONOMIA
        div(layout="row", layout-align="center start")
            span.questionText La adopción del euro fue positiva para España
        .questionAnswersContainer(layout="row", layout-align="center start")
            md-button
                span.text Completament d'acord
            md-button
                span.text D'acord
            md-button
                span.text Ni d'acord ni en desacord
            md-button
                span.text En desacord
            md-button
                span.text Completament en desacord

    .questionDivider

    .questionContainer(layout="column")
        div(layout="row")
            span.questionNumber 2:
            .questionTypeContainer(flex="" layout="row", layout-align="center start")
                span.questionType ECONOMIA
        div(layout="row", layout-align="center start")
            span.questionText La adopción del euro fue positiva para España
        .questionAnswersContainer(layout="row", layout-align="center start")
            span.text.questionSliderText Estat centralitzat
            md-slider(flex md-discrete ng-model="rating1" step="1" min="0" max="10" aria-label="rating")
            span.text.questionSliderText Estat propi

    .questionDivider

    .questionContainer(layout="column")
        div(layout="row")
            span.questionNumber 3:
            .questionTypeContainer(flex="" layout="row", layout-align="center start")
                span.questionType ECONOMIA
        div(layout="row", layout-align="center start")
            span.questionText La adopción del euro fue positiva para España
        .questionAnswersContainer(layout="row", layout-align="center start")
            md-button
                span.text Completament d'acord
            md-button
                span.text D'acord
            md-button
                span.text Ni d'acord ni en desacord
            md-button
                span.text En desacord
            md-button
                span.text Completament en desacord

    .questionDivider

    .questionContainer(layout="column")
        div(layout="row")
            span.questionNumber 4:
            .questionTypeContainer(flex="" layout="row", layout-align="center start")
                span.questionType ECONOMIA
        div(layout="row", layout-align="center start")
            span.questionText La adopción del euro fue positiva para España
        .questionAnswersContainer(layout="row", layout-align="center start")
            md-button
                span.text Completament d'acord
            md-button
                span.text D'acord
            md-button
                span.text Ni d'acord ni en desacord
            md-button
                span.text En desacord
            md-button
                span.text Completament en desacord
    .questionDivider


