#resultsContainer.container(etv-scroll-to-top-on-load="")
    span(ng-if="shouldShowLoading()")
        etv-centered-text(text="resultsLoading")


    span(ng-if="shouldShowError()")
        etv-centered-text(text="resultsError")

    span(ng-if="shouldShowBadIdMessage()")
        etv-centered-text(text="badResultsId")

    span(ng-if="shouldShowResults()")
        #resultsIntroContainer.text-center
            p.text-uppercase.text-l.text-bold(translate="{{ resultsTitle }}")
            p(translate="{{ resultsIntroText }}")

        #graphsContainer.row

            etv-graph-min(ng-repeat="graphMin in GRAPHS")

            etv-graph(ng-repeat="graph in openedGraphs")

        #shareContainer.text-center
            span.text-bold.text-xl(translate="share")
            i.mdi.mdi-facebook(ng-click="shareGraph('facebook', graph + topic)")
            i.mdi.mdi-twitter(ng-click="shareGraph('twitter', graph + topic)")

        #resultsCodeContainer
            span(ng-if="justCreated")
                p.resultsCodeText.text-center(translate="resultsCodeText")
                p.resultsCode.text-bold.text-xl.text-center {{ link }}