#resultsContainer.container(etv-scroll-to-top-on-load="")
    span(ng-if="loading")

    span(ng-if="!loading && !validResultsId")
        p.text-center.text-xxxl.badResultsIdText(translate="badResultsId")

    span(ng-if="!loading && validResultsId")
        #resultsIntroContainer.text-center
            p.text-uppercase.text-l.text-bold(translate="{{ justCreated ? 'yourResultsTitle' : 'yourResultsTitleOut' }}")
            p(translate="{{ justCreated ? 'yourResultsText' : 'yourResultsTextOut' }}")

        #graphsContainer.row

            etv-graph-min(ng-repeat="graphMin in ['partyCoincidence', 'topicCoincidence', 'location', 'parlamentaryRepresentation']")

            etv-graph(ng-repeat="graph in openedGraphs")

        #shareContainer.text-center
            span.text-bold.text-xl(translate="share")
            i.mdi.mdi-facebook(ng-click="shareGraph('facebook', graph + topic)")
            i.mdi.mdi-twitter(ng-click="shareGraph('twitter', graph + topic)")

        #resultsCodeContainer
            span(ng-if="justCreated")
                p.resultsCodeText.text-center(translate="resultsCodeText")
                p.resultsCode.text-bold.text-xl.text-center {{ link }}

img(src="/images/etv-circle-logo.png" style="opacity: 0")