div#welcomeContent(layout="column", layout-align="center center", flex="")
    p#welcomeIntroText {{ 'welcomeIntroText' | translate }}
    md-button#welcomeStartButton(ng-click="goTo('questions')")
        span {{ 'welcomeStart' | translate }}