#whoWeAreContainer.container.globalTextContainer

    #whoWeAreTitleContainer.mainTitleContainer
        p#whoWeAreTitle.text-uppercase.mainTitle(translate="whoWeAre")

    #whoWeAreMainTextContainer.paddedText.bottomPadding
        p#whoWeAreMainText(translate="whoWeAreMainText")

    .divider

    .row
        .col-sm-6.col-xs-12
            .center-text.whoWeArePartnerLogoContainer
                span.centerHelper
                a(href="{{ ETP_URL }}" target="_blank")
                    img#whoWeAreEtpLogo(src="/images/logo_etp.png")
            p.text-smaller(translate="whoWeAreEtpText")

        .col-sm-6.col-xs-12
            .center-text.whoWeArePartnerLogoContainer#whoWeAreapps4citizensLogoContainer
                span.centerHelper
                a(href="{{ APPS4CITIZENS_URL }}" target="_blank")
                    img#whoWeAreapps4citizensLogo(src="/images/logo_apps4citizens.png")
            p.text-smaller(translate="whoWeAreapps4citizensText")

