div#whoWeAreContainer
   p#whoWeAreTitle QUI SOM
   section#whoWeAreTextContainer(layout="row", layout-align="space-around start")
      section(flex="45")
         p {{ 'whoWeAreLeftText' | translate }}
         div(layout="row", layout-align="end center")
            img#whoWeAreETP(src="/images/logo_etp.png")
      div(flex="10")
      section(flex="45")
         p {{ 'whoWeAreRightText' | translate }}
         div#whoWeAreApp4CitizenContainer(layout="row", layout-align="start center")
            img#whoWeAreApp4Citizen(src="/images/logo_app4citizen.png")