@footer-height: 40px;
@footer-font-sz-xs: 12px;

footer {
    background-color: @blue;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: @footer-height;
}

footer button {
    height: @footer-height;

    span {
        line-height: @footer-height - 1;
        font-size: 15px;
    }
}



@media (min-width: 600px) {
    footer button {
        width: 170px;
    }
}

@media (min-width: 351px) and (max-width: 599px) {
    footer button span {
        font-size: 11px;
    }
}

@media (max-width: 350px) {
    footer button {
        span {
            font-size: 10px;
        }
    }
}