@hd-pd: 25px; // Header padding
@hd-pd-f: 2;

@social-sz: 18px;
@social-sz-f: 1.2;

@menu-sz: 24px;
@menu-sz-f: 1.2;

@logo-sz: 150px;
@logo-sz-f: 1.4;

@lang-sel-sz: 12px;
@lang-sel-sz-f: 1.2;

header {
    overflow-x: hidden;
    background-color: white;

    .socialMedia i:first-child {
        margin-right: 10px;
    }

    .languageSelection {
        text-align: right;
    }

    #logo {
        max-width: 100%;
    }

    .socialMedia i {
        font-size: 1.2em;
    }

    .menuButtonContainer i {
        font-size: 1.6em;
    }

    .languageSelection {
        font-size: 0.9em;
    }

    @media (max-height: 750px) {
        #logo {
            width: 200px;
        }
    }

    padding: 1.3em 1.3em 0.9em 1.3em !important;

    @media (max-width: @screen-xxs-max) {
        font-size: 15px;

        padding: 0.7em 0.7em 0.5em 0.7em !important;

        &.fixedHeader {
            img#logo {
                width: 100px;
            }
        }
    }

    @media (min-width: @screen-xs-min) and (max-width: @screen-md-max) {
        font-size: 17px;

        &.fixedHeader {
            img#logo {
                width: 120px;
            }
        }
    }

    @media (min-width: @screen-lg-min) {
        font-size: 19px;

        &.fixedHeader {
            img#logo {
                width: 140px;
            }
        }

        @media (min-height: 850px) {
            font-size: 21px;
        }
    }
}

header.smallHeader {
    img#logo.compactLogo {
        @media (max-width: @screen-md-max) {
            width: 90px !important;
        }
        @media (min-width: @screen-lg-min) {
            width: 125px !important;
        }
    }
}

header.fixedHeader {
    top: 0;
    left: 0;
    right: 0;

    height: auto;

    position: fixed;
    min-width: @min-page-width;
    max-width: 100%;

    width: 100%;
    z-index: 200;
}

#main.fixedHeader {padding-top: 131px;}

.menuButtonContainer {
    text-align: right;
}