.modal(role="dialog")
    .vertical-alignment-helper
        .modal-dialog.modal-md.vertical-align-center
            .modal-content.text-center
                p
                    i.mdi.mdi-close.closeButton(ng-click="close()")
                p.bigExclamation !
                p(ng-bind-html="text")