#questionNavigationContainer
    #questionNavigationWrapper
        .questionNavigationItem(ng-repeat="question in politicalQuestions" ng-click="goToQuestion($index + 1)" ng-class="{ answered: question.answer != null }")
            .questionNavigationNumber
                span {{ $index + 1 }}
            .questionNavigationCircle
