.etv-sortable
   p.text-container.text-center.sortableTip(translate="sortTip")
   ul.sortable.center-horizontally
      li(ng-repeat="topic in topics")
         button.disabled.answerButton.superLongText
            span(translate="{{ ::topic._id }}")

