.globalPoliticalQuestionContainer(index="{{ question.number - 1 }}" etv-watch-height-change="watchHeightChangeOn")
   .divider

   .politicalQuestionContainer
      .numberContainer
         p {{ question.number }}:

      .typeContainer.text-center.text-uppercase.center-block
         p(translate="{{ questionTopic(question) }}")

      .textContainer.text-center
         p(translate="{{ questionText(question) }}")

      span(ng-switch="question.type")
         .row.center-text(ng-switch-when="basic")
            .col-md-4.col-xs-6.col-xxs-12.answerButtonContainer(ng-repeat="option in BASIC_QUESTION_OPTIONS", ng-class="{ 'col-lg-2-4': !isNoAnswer(option), 'col-lg-12 nsncButton': isNoAnswer(option) }")
               button.answerButton(ng-click="setQuestionAnswer(question, option)" ng-class="{ answered: isAnsweredWith(question, option), longText: isLongAnswer(option) }")
                  span(translate="{{ option }}")

         .sliderContainer(ng-switch-when="ideologicalLocation")
            etv-slider(left-text="extremeLeft" right-text="extremeRight" ng-model="question.answer")

         .sliderContainer(ng-switch-when="nationalLocation")
            etv-slider(left-text="centralizedState" right-text="ownState" ng-model="question.answer")

         span(ng-switch-when="topicSort")
            etv-sortable


   .divider(ng-if="$last")