footer
    div.center-child.fullHeight
        div.inline.fullHeight
            button.btn-primary.fullHeight
                span.text-uppercase El Teu Vot
            button.btn-primary.fullHeight
                span.text-uppercase Com ho hem fet
            button.btn-primary.fullHeight
                span.text-uppercase Qui som