.centeringContainer.center-text
   .leftText.borderText.inline(translate="{{ __sliderLeftText }}")
      span
   .etv-slider(ng-class="{ 'touched': isAnswered(question.number) }")
   .rightText.borderText.inline(translate="{{ __sliderRightText }}")
      span