.graphMinGlobalContainer.col-xs-6.col-md-3(id="{{ graphMin + 'Graph' }}")
   p.text-uppercase.text-bold.text-xl.text-center.graphMinTitle(translate="{{ graphMin }}" ng-class="{ 'opened': isGraphOpened(graphMin) }")
   .graphMinContainer.center-block(ng-click="toggleGraph(graphMin)")
      img.imgContainer(src="{{ imageSrc(graphMin) }}")