header.container-fluid
    .row
        .col-xs-4.socialMedia
            a(href="https://www.facebook.com/elteuvot" target="_blank")
                i.mdi.mdi-facebook

            // TODO: Definir la pàgina de twitter
            a(href="https://twitter.com" target="_blank")
                i.mdi.mdi-twitter

        .col-xs-4
            img#logo.center-block(src="/images/logo.png" alt="Logo ETV")

        .col-xs-4.languageSelection
            a(href="") català
            span &nbsp;|&nbsp;
            a(href="") castellano
