#questionNavigationContainer()
    .wrapper
        .disabled.questionNavigationItem(ng-repeat="question in questions" ng-click="goToQuestion(question.number)")
            .questionNavigationNumber
                span {{ ::$index + 1 }}
            .questionNavigationCircle
