footer
    div.center-text.fullHeight
        div.inline.fullHeight#footerButtonContainer
            button(ui-sref="elTeuVot" ui-sref-active="active")
                span.text-uppercase(translate="{{ 'elTeuVot' }}")
            button(ui-sref="howItsDone" ui-sref-active="active")
                span.text-uppercase(translate="{{ 'howItsDone' }}")
            button(ui-sref="whoWeAre" ui-sref-active="active")
                span.text-uppercase(translate="{{ 'whoWeAre' }}")