.graphMinGlobalContainer.col-xs-6.col-md-3(ng-click="toggleGraph(graphMin)" id="{{ graphMin + 'Graph' }}")
   p.text-uppercase.text-bold.text-xl.text-center.graphMinTitle(translate="{{ graphMin }}" ng-class="{ 'opened': isGraphOpened(graphMin) }")
   span(ng-switch="graphMin")
      .graphMinContainer.center-block.text-center(ng-switch-when="parlamentaryRepresentation" etv-parlamentary-representation-graph="" miniature="")
      .graphMinContainer.center-block.text-center.topicCoincidenceMinGraph(ng-switch-when="topicCoincidence" etv-topic-coincidence-graph="{{ topics[0]._id }}" miniature="")
      .graphMinContainer.center-block.text-center(ng-switch-when="location" etv-location-graph="" miniature="")
      .graphMinContainer.center-block.text-center.partyCoincidenceMinGraph(ng-switch-when="partyCoincidence" etv-party-coincidence-graph="" miniature="")
