.globalPoliticalQuestionContainer(index="{{ question.number - 1 }}")
   .divider

   .politicalQuestionContainer
      .numberContainer
         p {{ question.number }}:

      .typeContainer.text-center.text-uppercase.center-block
         p(translate="{{ question.topic || 'spaces' }}")

      .textContainer.text-center
         p(translate="{{ 'question' + question.number }}")

      span(ng-switch="question.type")
         .row.center-text(ng-switch-when="basic")
            .col-md-4.col-xs-6.col-xxs-12.answerButtonContainer(ng-repeat="option in BASIC_QUESTION_OPTIONS", ng-class="{ 'col-lg-2-4': option != 'nsnc', 'col-lg-12 nsncButton': option == 'nsnc' }")
               button.answerButton(ng-click="question.answer = option" ng-class="{ answered: question.answer == option, longText: option == 'nand' && $translate.use() == 'es' }")
                  span(translate="{{ option }}")

         .sliderContainer(ng-switch-when="ideologicalLocation")
            etv-slider(left-text="extremeLeft" right-text="extremeRight" ng-model="question.answer")

         .sliderContainer(ng-switch-when="nationalLocation")
            etv-slider(left-text="centralizedState" right-text="ownState" ng-model="question.answer")

         span(ng-switch-when="topicSort")
            p.text-container.text-center.sortableTip(translate="sortTip")
            ul.sortable.center-horizontally(etv-sortable="")
               li(ng-repeat="topic in topics" ng-mousedown="answerOption(topic.id)" etv-value="{{ topic.id }}")
                  button.answerButton.superLongText(ng-class="{ 'answered': question.answeredOption[topic.id] }")
                     span(translate="{{ topic.id }}")


   .divider(ng-if="$last")