.centeringContainer.center-text
   .leftText.borderText.inline(translate="{{ __sliderLeftText }}")
      span
   .etv-slider
   .rightText.borderText.inline(translate="{{ __sliderRightText }}")
      span